/*div.glosarioTermino{ font-size:10pt; padding-left:20px; border-bottom:1px dashed #CCCCCC; background: url(../img/help.png) left top no-repeat;}
div.glosarioTermino a{ color:black; }
blockquote.glosarioSignificado{ text-align:justify; font-size:10pt; padding-left:20px; background:url(../img/tick.png) left top no-repeat; }*/

@charset "utf-8";

