documentacion/desarrollo/~$inquietudes.xlsx
documentacion/desarrollo/~$Anexo 7 - Anexo Técnico.xlsx
documentacion/documentos del cliente/~$OYECTO_SIBICA_2019.docx
documentacion/desarrollo/~$Product Backlog Sibica.xlsx
documentacion/documentos del cliente/Nueva carpeta/Fuentes/SIBICA_Fuentes_Android/alcaldia-cali-master/build/generated/mockable-android-25.jar
documentacion/documentos del cliente/Nueva carpeta/Fuentes/SIBICA_Fuentes_Android/alcaldia-cali-master/.gradle/2.14.1/taskArtifacts/fileSnapshots.bin
documentacion/desarrollo/cronograma/~$Product Backlog Sibica.xlsx
documentacion/documentos del cliente/Hallazgos sprint 3.pdf
documentacion/desarrollo/diseño/panorame de riesgos/~$ALISIS DE REQUERIMIENTOS-PanoramasRiesgo.docx
documentacion/desarrollo/cronograma/Product Backlog Sibica2.xlsx
documentacion/desarrollo/diseño/panorame de riesgos/diseños de wilmar/~$DiseñoPanoramas.xlsx
documentacion/desarrollo/cronograma/Product Backlog Sibica3.xlsx
documentacion/desarrollo/cronograma/Product Backlog Sibica4.xlsx
documentacion/desarrollo/diseño/visita tecnica/~$mockups diseños.xlsx
documentacion/desarrollo/cronograma/Product Backlog Sibica5.xlsx
