documentacion/desarrollo/~$inquietudes.xlsx
documentacion/desarrollo/~$Anexo 7 - Anexo Técnico.xlsx
documentacion/documentos del cliente/~$OYECTO_SIBICA_2019.docx
documentacion/desarrollo/~$Product Backlog Sibica.xlsx
documentacion/documentos del cliente/Nueva carpeta/Fuentes/SIBICA_Fuentes_Android/alcaldia-cali-master/build/generated/mockable-android-25.jar
documentacion/documentos del cliente/Nueva carpeta/Fuentes/SIBICA_Fuentes_Android/alcaldia-cali-master/.gradle/2.14.1/taskArtifacts/fileSnapshots.bin
